<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<generate-config>
    <destination-directory>@test.dest.dir@</destination-directory>
    <extends>Object</extends>
    <user>bt</user>
    <password></password>
    <package>gsc.ci.ejb</package>
    <url>@test.db.url@</url>

    <table>
        <class>User</class>
        <name>gauntlet_user</name>
    </table>
    <table>
        <class>Lock</class>
        <name>path_lock</name>
    </table>
    <table>
        <name>gauntlet_version</name>
	<skip>true</skip>
    </table>
    <table>
        <name>prev_succ_build</name>
	<skip>true</skip>
    </table>
    <table>
        <name>build_fixed_by</name>
	<skip>true</skip>
    </table>
    <table>
        <name>svnlog</name>
        <column>
            <name>COMMIT_DATE</name>
            <field-name>date</field-name>
        </column>
        <column>
            <name>THE_YEAR</name>
            <field-name>year</field-name>
        </column>
    </table>
    <table>
        <name>svnlog_path</name>
        <column>
            <name>COMMIT_ACTION</name>
            <field-name>action</field-name>
        </column>
    </table>
    <table>
        <name>test_result</name>
        <column>
            <name>DURATION</name>
            <field-name>time</field-name>
        </column>
    </table>
    <table>
        <name>suite_result</name>
        <column>
            <name>DURATION</name>
            <field-name>time</field-name>
        </column>
    </table>
    <table>
        <name>property</name>
        <extra-body>
	</extra-body>
    </table>
</generate-config>
